.navigationmenu
{
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 50;
}

.navigationmenu a, .navigationmenu a:visited
{
	color: #306495;
	text-decoration: none;
	margin-right: 3px;
}

.navigationmenu a:hover 
{
	color: #73471B;
	text-decoration: none;
}

.navigationmenu img
{
	position: absolute;
}

.navigationmenu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 50;
}

/*Top level list items*/
.navigationmenu ul li
{
	position: relative;
	display: inline;
	float: left;
	z-index: 50;
}

/*Top level menu link items style*/
.navigationmenu ul li a
{
	display: block;
	text-decoration: none;
}

.navigationmenu ul li ul
{
	position: absolute;
	z-index: 50;
	left: 0;
	display: block;
	visibility: hidden;
	border: 1px solid #778;
}

.navigationmenu ul li ul li
{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.navigationmenu ul li ul li ul
{
	top: 0;
	z-index: 50;
}

/* Sub level menu links style */
.navigationmenu ul li ul li a, 
.navigationmenu ul li ul li a:visited
{
	font: normal 13px Verdana;
	width: 200px; /*width of sub menus*/
	background: white;
	color: black;
	padding: 4px 5px;
	margin: 0;
	border-top-width: 0;
}

.navigationmenu ul li ul li a:hover
{ /*sub menus hover style*/
	background: #A1B4D9;
	color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass
{
	position: absolute;
	top: 3px;
	right: 2px;
}

.rightarrowclass
{
	position: absolute;
	top: 6px;
	right: 5px;
}

.rightarrowclass2
{
	position: absolute;
	right: 5px;
}



