
/* ---------------------------------------------- */

.recorder
{
	font-size: 1em;
	padding: 0 1px 1px 1px;
	/*margin-bottom: 15px;*/
	background-color: #888888;
}

.recorder .header
{
	font-weight: bold;
	color: #555;
	font-size: 1.1em;
	line-height: 1;
	/*padding: 5px 10px 5px 10px;*/
	margin: 0;
}

.recorder .content
{
	background: #ffffff;
	padding: 10px;
	font-weight: normal;
}

.objectbrowser
{
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 20px;
	background-color: #eeeeee;
	width: 95%;
	height: 97%;
}

.objectbrowser table
{
	width: 100%;
}

/*.objectbrowser td {text-align: center;}*/

.objectbrowser .border
{
	padding: 2px;
	background-color: #aaaaaa;
}

.objectbrowser .content
{
	background-color: #ffffff;
	padding: 5px 5px 5px 10px;
	font-weight: bold;
	overflow: auto;
	height: 400px;
}

.role
{
	position: absolute;
	float: right;
	padding-top: 10px;
	right: 10px;
}

.fileinfo
{
	padding: 1px;
	background-color: #888888;
	color: white;
}

.fileinfo .fileinfotitle
{
	padding: 4px;
	font-weight: bold;
}

.fileinfo .inner
{
	padding: 6px;
	background-color: #eeeeee;
	color: #555555;
}

.fileinfo .inner a, .fileinfo .inner a:visited
{
	color: #306495;
}

.listformat
{
	float: right;
}

/**********************************************/

.ui-icon-showlink {background-image: url("/images/ui/showlink.png")!important;}
.ui-icon-showfile {background-image: url("/images/ui/showfile.png")!important;}
.ui-icon-showcourse {background-image: url("/images/ui/showcourse.png")!important;}
.ui-icon-showactivity {background-image: url("/images/ui/showactivity.png")!important;}
.ui-icon-showfolder {background-image: url("/images/ui/showfolder.png")!important;}

.ui-icon-showsmall {background-image: url("/images/ui/showsmall.png")!important;}
.ui-icon-showmedium {background-image: url("/images/ui/showmedium.png")!important;}
.ui-icon-showdetail {background-image: url("/images/ui/showdetail.png")!important;}

