
.page #headermenu
{
	position: absolute;
	right: 10px;
	top: 10px;
}

.page #headermenu a
{
	text-decoration: none;
	font-weight: 700;
}

.page .tabmenuright
{
	position: absolute;
	right: 5px;
	top: 5px;
}

.page #searchbox
{
	position: absolute;
	right: 5px;
	top: 6px;
}

.page #searchinput
{
	height: 21px;
	border: 1px solid #dfdfdf;
	right: 32px;
	position: absolute;
	color: #444444;
}

.page #searchbutton
{
	height: 28px;
	right: 0;
	position: absolute;
}

.page #sidebar
{
	float: right;
	width: 200px;
	padding: 15px 10px;
	border: 0;
}

.page #content
{
	padding: 10px 30px;
	margin-bottom: -220px;
}

.page .smallprint
{
	font-size: 0;		/*HERE:*/
	font-weight: normal;
}

.page .col1
{
	float: left;
	width: 40%;
	margin-left : 1%;
}

.page .col2
{
	float: left;
	width: 40%;
}

.page hr
{
	border: 0;
	border-top: 1px solid #dddddd;
}

.page #content ol li
{
	padding: .4em .5em .3em 0;
}

.page .confirmation
{
	padding: 20px 0 0 10px;
	color: #5a5;
	font-weight: bold;
}

.page .errormessage
{
	padding: 20px 0 0 10px;
	color: red;
	font-weight: bold;
}

/**************************************/

.page .install
{
	/*text-align: right;*/
	/*padding: 0;*/
	margin: 0;
	border: 0;
	font-size: 0.8em;
}

.page .player
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* ---------------------------------------------- */

.page #footer
{
	font-size: 0.8em;
	text-align: center;
}

.page #footer p
{
	margin: 0;
	padding: 10px 0;
}

