.page #headermenu
{
	font-size: 1vw;
}

.page #headermenu a
{
	color: #ffffff;
}

.ui-widget-header
{
	background: #EBCF7C;
	border: 0px;
	color: #ffffff;
}

.ui-state-default,
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default
{
	background: #EBCF7C;
	border: 1px solid #EBCF7C;
	color: #ffffff;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited
{
	color: #883E28;
}

.ui-state-active,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active
{
	background: white;
	color: #883E28;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover
{
	background: white;
	color: #883E28;
}

.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited
{
	color: #883E28;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
{
	color: #883E28;
}

html, body
{
	color: #555555;
}

a
{
	color: #428bca;
}
 
footer
{
	background: #EBCF7C;
	color: #883E28;
}
 footer a {
    color: #883E28;
    text-decoration: underline;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted; }
    footer a:hover, footer a:active, footer a:focus, footer a:visited {
      color: #883E28;
      text-decoration: underline;
      -moz-text-decoration-style: dotted;
      -webkit-text-decoration-style: dotted; }

