.page #headermenu
{
	font-size: 1vw;
}

.page #headermenu a
{
	color: #6cb33f;
}

.ui-widget-header
{
	background: #6cb33f;
	border: 0px;
	color: #ffffff;
}

.ui-state-default,
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default
{
	background: #6cb33f;
	border: 1px solid #6cb33f;
	color: #ffffff;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited
{
	color: #ffffff;
}

.ui-state-active,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active
{
	background: white;
	color: #6cb33f;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover
{
	background: white;
	color: #6cb33f;
}

.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited
{
	color: #6cb33f;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited
{
	color: #6cb33f;
}

html, body
{
	color: #555555;
}

a
{
	color: #428bca;
}
 
footer
{
	background: #6cb33f;
	color: #ffffff;
}
